.home {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.home > h2 {
  padding-top: 30px;
}

.home > ul {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.home > a {
  margin-top: 200px;
}