.submission {
  margin-top: 60px;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
}

.sub-edit-btns {
  display: flex;
}
/* 
.submission > div:nth-of-type(2) {
  display: flex;
} */

.sub-edit-btns > a {
  margin-right: 20px;
}
/* 
.submission > div:nth-of-type(2) > button {
  margin-right: 20px;
} */

.submission > h2 {
  padding-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.submission > p {
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.submission > div {
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.sub-button {
  background: mediumpurple;
  height: 50px;
  width: 120px;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 13px; 
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-button:hover {
  background: purple;
}

.back-link {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
  color: purple;
}

.back-link:hover {
  text-decoration: underline;
}

.sub-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
}
/* 
.sub-form > input:nth-of-type(2) {
  height: 300px;
} */

.sub-form > label {
  margin: 30px, 0 10px, 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.answershow {
  display: flex;
}

.answerhide {
  display: none;
}

/* Code below is for styling all outputs of rich text editor when showing submissions: */

.rte strong {
  font-weight: bold;
}

.rte code {
  background: #e6e6e6;
  font-family: monospace;
  font-size: 14px;
}

.rte em {
  font-style: italic;
}

.rte ul {
  list-style-type: circle;
}

.rte ol {
  list-style-type: lower-alpha;
}

.rte blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}